---
layout: default
permalink: /about

title: About IGDA Seattle
description: IGDA Seattle is a local chapter of the <a href="http://www.igda.org/" target="_blank" rel="noopener noreferrer">International Game Developers Association</a>, a 501(c)(6) non-profit professional association and a global network comprised of individuals from all fields of game development - from programmers and producers to writers, artists, QA and localization.

ctas:
 - copy: Becoming a member of IGDA Global earns you discounts for Unity licenses, GDC and DICE passes, GDC Vault access, and more.
   href: http://www.igda.org/?page=benefits
   isExternal: true
   svg: discount
 - copy: Please note that you do not have to be a current member to attend IGDA Seattle events. Our chapter is inclusive and welcoming to all!
   href: /calendar
   svg: welcome
---

<main class="u-container">
  <!-- Mission statement -->
  <section class="mission">
    <p>IGDA Seattle brings together developers and empowers them to positively affect their career and the industry with:</p>
    <ul>
      <li>Speaker events and the opportunity to learn from each other</li>
      <li>Networking and meaningful connections with fellow game makers</li>
      <li>Online resources, videos, contacts, and discussions</li>
    </ul>
    <p>IGDA Seattle relies entirely on the volunteer work provided by our members, and the generosity of local game studios &amp; venues.</p>
  </section>

  <!-- Who we are -->
  <section class="team">
    <h2 id="team">Who We Are</h2>

    <div class="u-row">
    {% for member in site.data.team %}
      <figure class="team__member u-col-3x">
        <h3>{{ member.name }}</h3>
        <img src="/assets/images/team/{{ member.image }}" alt="">
        <figcaption>{{ member.bio }}</figcaption>
      </figure>
      {% cycle '', '', '', '</div><div class="u-row">' %}
    {% endfor %}
    </div>
  </section>

  <!-- Contact -->
  <section class="contact">
    <h2 id="contact">Contact Us</h2>

    <div class="u-row">
      {% for contactHash in site.data.contact %}
        {% assign title = contactHash[0] %}
        {% assign cta = contactHash[1] %}

        <a class="cta u-col-3x" href="{{ cta.href }}">
          {% include svgs/{{ cta.svg }}.svg %}
          <h3>{{ title }}</h3>
          {{ cta.copy }}
        </a>
      {% endfor %}
    </div>
  </section>
</main>

<!-- CTA title/context -->
<h2 class="u-container">Membership</h2>
