/**
 * Mobile nav menu
 */

$nav-breakpoint: 52em;
@import "../vendor/hamburgers";

.site-nav__toggle {
  z-index: 9999;
  position: relative;
  float: right;
  margin-top: .5em;
  line-height: 0;
  color: $color-secondary;

  @media (min-width: $nav-breakpoint) {
    display: none;
  }
}
.site-nav__toggled {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-light;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-out, visibility .4s ease-out;

  &.is-active {
    opacity: 1;
    visibility: visible;
    will-change: opacity;
  }

  @media (min-width: $nav-breakpoint) {
    position: static;
    display: block;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
  }
}

/**
 * Desktop nav
 */

.site-nav {
  // Logo
  a.site-nav__logo {
    display: inline-block;
    margin: .7em 0 .3em;
    padding: 0;
  }

  // Nav links
  a {
    padding: .25em .75em;
    color: $color-dark;

    &:hover, &:focus {
      color: $color-primary;
    }
  }

  ul {
    margin: 0;
    padding: 2em;

    @media (min-width: $nav-breakpoint) {
      margin: 1em auto;
      padding: 0;
    }
  }

  li {
    display: block;
    margin: .5em auto;
    font-size: 1.2em;
    text-align: center;

    @media (min-width: $nav-breakpoint) {
      display: inline-block;
      margin: 0;
      font-size: 1em;

      &:last-child a:last-child {
        padding-right: 0;
      }
    }
  }

  // Social media icons
  &__socials {
    a {
      padding-left: .5em;
      padding-right: .5em;
      color: $color-primary-light;

      &:hover, &:focus {
        color: $color-primary;
      }
    }

    svg {
      position: relative;
      top: .1em;
      height: 1em;
      width: 1em;
      fill: currentColor;
    }
  }
}
