/**
 * Fonts
 */
$font-body: 'museo-sans', Helvetica, Arial, sans-serif;

/**
 * Colors
 */
$color-primary:        #e10f12; // Red
$color-primary-light:  #f17075;
$color-secondary:      #fbc600; // Yellow
$color-secondary-dark: #f58d1d;

$color-light: #fff;
$color-grey:  #777;
$color-dark:  #333;

/**
 * Borders
 */
$border-width: 2px;

/**
 * Media Query Breakpoints
 */
$mq-xxsmall: 24em;  // Phones (Landscape) - anything smaller is in portrait
$mq-xsmall:  40em;  // Tablet
$mq-small:   64em;  // Netbook
$mq-medium:  80em;  // Laptop
$mq-large:   100em; // Mid Size monitor
$mq-xlarge:  120em; // Desktop
$mq-xxlarge: 140em; // Thunderbolt
