/**
 * About page
 */

// Mission statement
.mission {
  margin: -.5em auto 1.5em;
}

// Team members
.team {
  margin-bottom: -1em;

  &__member {
    margin-bottom: 2em;
    text-align: center;

    img {
      display: block;
      width: 8em;
      margin: .2em auto .5em;
      border: 3px solid $color-light;
      border-radius: 50%;
      box-shadow: 0 3px 10px rgba(0,0,0, .3);
    }
  }
}

// Contact items
.contact {
  .cta {
    padding: 3em 1em 2em;
    color: $color-dark;

    svg {
      fill: $color-grey;
      transition: .3s ease-out fill;
    }

    &:hover,
    &:focus {
      color: $color-primary;

      svg {
        fill: $color-primary;
      }
    }
  }
}

// Adjust typograhy sizing for smaller grid columns
.team,
.contact {
  .u-col-3x {
    @media (min-width: $grid-breakpoint) {
      font-size: .85em;
    }

    h3 {
      margin: 0 auto;
    }
  }
}
