/**
 * Typography
 */

body {
  font-family: $font-body;
  font-size: 1em;
  line-height: 1.5;
  background-color: $color-light;
}

a {
  color: $color-primary;
  transition: color .2s ease-out;

  &:hover,
  &:focus {
    color: $color-secondary;
  }
}
