/**
 * CTAs
 */

.cta {
  display: block;
  padding: 3em 2em;
  text-align: center;
  border: $border-width solid currentColor;

  svg {
    display: block;
    width: 7em;
    height: 7em;
    margin: 0 auto 1em;
    fill: currentColor;
  }

  &--primary {
    color: $color-primary;

    &:hover, &:focus {
      color: $color-primary-light;
    }
  }

  &--secondary {
    color: $color-secondary-dark;

    &:hover, &:focus {
      color: $color-secondary;
    }
  }
}

.page-end-ctas {
  margin-top: 2em;
}
