/**
 * Reusable page transitions
 */

.is-fading-in {
  animation: fade-in .4s ease-in;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.is-fading-out {
  animation: fade-out .4s ease-out;
  animation-fill-mode: both;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
