/**
 * Reusable page headers
 */

.page-header {
  margin-bottom: 1.5em;

  &__title {
    margin-bottom: .2em;
    font-size: 2em;
    line-height: 1.1;
  }

  &__subtitle {
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
  }
}
